@import '../../styles/vars.scss';
.body{
    width: 100%;
    min-height: 100vh;
    @include flex(center,start);
    flex-direction: row;
    .content {
        width: 76%;
        @include flex(center, start);
        flex-direction: column;
        padding: 30px;
        font-family: 'Nunito',sans-serif;
        color: #ffffff;
        position: relative;
        height: 93vh;
        margin-left: 20%;

        h1{
            width: 100%;
            color:#b7dce9;
        }
        .transactions {
            @include flex(center, start);
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 21.44px;
            width: 100%;
            margin-bottom: 21.44px;
            .transaction{
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                @include flex(center, center);
                width: 300px;
                height: 150px;
                background-color: $cardBC;
                border-radius: 12px;
            }
        }
    }
}