@import './vars.scss';

.body{
    padding: 30px;
    width: 76%;
    height: 93vh;
    font-family: 'Nunito', sans-serif;
    .header{
        @include flex(center,space-between);
        h1{
            color: rgb(183, 220, 233);
        }
        .buttons{
            @include flex(center,center);
            gap: 20px;
            .deleteButton{
                @include flex(center,center);
                gap: 6px;
                padding: 15px 20px;
                border: none;
                border-radius: 12px;
                background-color: rgba(173, 40, 36, 1);
                color: #ffa6b2;
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            .deleteButton:hover{
                background-color: rgba(255, 72, 66, 0.56);
                color: #ffa6b2;

            }
            button{
                @include flex(center,center);
                gap: 6px;
                padding: 15px 20px;
                border: none;
                border-radius: 12px;
                background-color: $cardBC;
                color: rgb(183, 220, 233);
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            button:hover{
                background-color: #25487c;
            }
        }
    }
    .table{
        @include flex(center,center);
    }
    input{
        outline:'none'
    }
}