@import './vars.scss';
.body{
    width: calc(20% - 60px);
    height: 93vh;
    border-right: 1px dashed $cardBC;
    @include flex(center,space-between);
    flex-direction: column;
    padding: 30px;
    position: fixed;
    .content{
    @include flex(center,start);
    flex-direction: column;
        h2{
            color: rgb(183, 220, 233);
            font-family: 'Nunito', sans-serif;
        }
        .logo{
            width: 72%;
            filter: brightness(10);
            filter: contrast(70%);
        }
        .paymentsList{
            margin-top: 20px;
            width: 100%;
            @include flex(center,start);
            flex-direction: column;
            gap: 25px;
            .payment{
                @include flex(center,start);
                color: rgb(183, 220, 233);
                font-size: 1.2vw;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                width: 85%;
                height: 60px;
                border-radius: 12px;
                background-color: $cardBC;
                transition: all 0.3s ease;
                gap: 10px;
                padding: 0 15px;
                cursor: pointer;
            }
            .payment:hover{
                background-color: #25487c;
            }
        }
    }
    .logout{
        padding: 15px 20px;
        border: none;
        border-radius: 12px;
        background-color: $cardBC;
        color: rgb(183, 220, 233);
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

    }
    .logout:hover{
        background-color: #25487c;
    }

}