@import 'vars.scss';


.body {
    width: 600px;
    height: 700px;
    border-radius: 6px;
    @include flex(center, start);
    flex-direction: column;
    padding: 20px;
    font-family: $font;
    color: #ffffff;
    text-align: center;
    button{
        background: none;
        border: none;
        .cardButton {
            transition: all 0.2s ease;
            color: white;
        }

        .cardButton:active {
            background-color: #1e1e1e;
        }
    }
    h1 {
        margin-bottom: 0;
    }

    .card {
        padding: 20px;
        width: 300px;
        background-color: $cardBC;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
        border-radius: 8px;

        .cardHeader {
            @include flex(center, space-between);

        }

        .cardBody {

            text-align: left;
            margin-top: 20px;
            width: 100%;
            @include flex(center, space-between);
            .creditsBody{
                @include flex(center, space-between);
                flex-direction: column;

            }
            .credits {
                @include flex(start, start);
                flex-direction: column;

                h3 {
                    margin-top: 5px;
                }
            }


        }
    }
}