@import 'vars.scss';

.body{
    width: 600px;
    background-color: $cardBC;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    @include flex(center,start);
    flex-direction: column;
    padding: 20px;
    font-family: $font;
    color: #ffffff;
    text-align: center;
    position: relative;
    .logo{
        @include flex(center,center);
            width: 80%;
            img{
                width: 40%;
                filter: brightness(10);
            }
        }
        .methods{
            @include flex(center,center);
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 21.44px;
            width: 90%;
            margin-bottom: 21.44px;
            .method{
                position: relative;
                a{
                    font-size: 24px;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                }

                @include flex(center,center);
                cursor: pointer;
                background-color: #193b6d;
                width: 40%;
                height: 110px;
                border-radius: 6px;
                border: 1px solid rgba(192, 192, 192, 0.384);
            }
        }
}