@import './vars.scss';

.userList {
    width: 100%;
    background-color: $cardBC;
    border-radius: 12px;
    font-family: 'Nunito', sans-serif;
    color: aliceblue;

    .search {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;

        input {
            padding: 15px;
            border: 1px solid #233e68;
            background: none;
            font-family: 'Nunito', sans-serif;
            color: #b7dce9;
            border-radius: 12px;
            outline: none;
            font-size: 16px
        }

        input::placeholder {
            color: #b7dce9;
        }
    }

    .header {
        width: calc(100% - 20px);
        height: 50px;
        background-color: #233e68;
        @include flex(center, start);
        padding-left: 20px;
        font-size: 0.85vw;
    }

    .user {
        width: calc(100% - 20px);
        height: 90px;
        @include flex(center, space-between);
        flex-direction: row;
        padding-left: 20px;
        border-bottom: 1px solid #233e68;

        .body {
            @include flex(center, start);
            flex-direction: row;
            height: 90px;
        }

        h3 {
            font-size: 0.95vw;

        }

        .id {
            width: 4vw;
            color: #b7dce9;
        }

        .login {
            width: 11vw;
            color: #b7dce9;
        }

        .password {
            width: 10vw;
            color: #b7dce9;
            @include flex(center, start);
            gap: 10px;
        }

        .role {
            width: 130px;
            color: #b7dce9;
        }

        .brand {
            width: 140px;
            color: #b7dce9;
        }

        .methods {
            width: 190px;
            color: #b7dce9;
            @include flex(center, center);
            gap: 10px;
            flex-wrap: wrap;

            h3 {
                background-color: rgb(56, 182, 255);
                color: #233e68;
                padding: 5px 8px;
                border-radius: 4px;
                margin: 0
            }
        }
    }
}