@import '../../styles/vars.scss';

.methodsPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

    .body {
        width: 76%;
        @include flex(center, start);
        flex-direction: column;
        padding: 30px;
        font-family: 'Nunito',sans-serif;
        color: #ffffff;
        position: relative;
        height: 93vh;
        margin-left: 20%;

        h1{
            width: 100%;
            color:#b7dce9;
        }
        .methods {
            @include flex(center, start);
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 21.44px;
            width: 100%;
            margin-bottom: 21.44px;

            a {
                text-decoration: none;
                color: white;

            }

            .method {
                position: relative;
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                @include flex(center, center);
                width: 300px;
                height: 150px;
                gap: 15px;
                flex-direction: column;
                color: rgb(183, 220, 233);
                font-size: 28px;
                background-color: $cardBC;
                border-radius: 12px;
                h3{
                    color: rgb(183, 220, 233);
                }
            }
        }
    }
}